*,*::before,*::after{
    box-sizing: border-box;
   
}
body{
    margin: 0em;
    height: 200vh;
    background-image: url(33.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit:cover;  
}
h1{
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
    display: inline-block;
    margin-left: 3.5rem;
    font-size: 2.3em;
    cursor: pointer;
    color: black;
    letter-spacing: .06em;
    font-family: 'Pacifico', cursive;
}
h1:hover{
    color: rgb(144, 60, 45);
}
a{
    padding: 1rem;
    border-radius: 5%;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    opacity: 0; 
    font-family: 'Capriola', sans-serif;
}

li{
    text-align: center;
    line-height: 3.7rem;
    list-style: none;
}
.navbar{
    background-color: rgb(163, 207, 205,0.5);
    position: sticky;
    top: 0;
    width: 100%;
    
}
.nav{
    
    position: absolute;
    background-color:#2a2929;
    width: 100%; 
    transform: scale(1,0);
    transition: transform ease-in 0.3s;
    transform-origin: top;
   
}
input:checked ~ .nav{
    transform: scale(1,1);
}
input:checked ~ .nav ul li a{
    opacity: 1;
    transition: opacity ease in 0.3s;
    transition-delay: 0.2s;
}
input{
    position:absolute;
    top: 0;
    right: 0;
    display: none;    
}
label{
    position: absolute;
    top: 1.5rem;
    right: 1em;
}
i{
    cursor: pointer;
}
a:hover {
    color: #1a1a1a;
    background-color: #C1C1C1;
}
@media (min-width:700px){
    label{
        display: none;
    }
    li{
        all:unset;
        
    }
    a{
        opacity: 1;
        position: relative;
    }
    .nav{
        all: unset;
        justify-self: end;
        align-self: center;
    }
    .navbar{
        display: grid;
        grid-template-columns: 1fr 20fr 1fr;
        column-gap: 1em;
        
    }
    a::before{
        content: '';
        background-color: rgb(133, 58, 45);
        position: absolute;
        width: 55%;
        height: 2.5%;
        top: 15px;
        transform: scale(0,1);
        transition: transform 0.22s ease-in;
        transform-origin: right;
    }
    a:hover::before{
        transform: scale(1,1);
        transform-origin: left;
    }
    
    

}

